tests/entities.xsd.default

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://mind.p4.com/mytest" xmlns="http://mind.p4.com/mytest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nodes" type="nodes-type"/>
  <xs:complexType name="nodes-type">
    <xs:sequence>
      <xs:element name="node" type="node-type" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="node-type">
    <xs:sequence>
      <xs:element name="data" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>
</xs:schema>
